.pgdeal {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    background-color: LimeGreen;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
}

.pg-deal-hands {
    position: relative;
}

.pg-deal-buttons {
    height: 30px;
}

.pg-deal-buttons .btn {
    display: none;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 10px;
}

.pg-deal-buttons .left  { float: left; }
.pg-deal-buttons .right { float: right; }
.pg-hidden-hand .pg-deal-buttons,
.pg-deal-opponent .pg-deal-buttons {
    visibility: hidden;
}
.pg-deal-thinking   .pg-deal-buttons .pg-deal-preview-hands, 
.pg-deal-previewing .pg-deal-buttons .pg-deal-un-preview-hands, 
.pg-deal-previewing .pg-deal-buttons .pg-deal-tiles-are-set,
.pg-deal-deal-done  .pg-deal-buttons .pg-deal-next-deal,
.pg-deal-game-done  .pg-deal-buttons .pg-deal-another-game {
    display: inline-block;
}

.pgswitchhands-btn {
    position: absolute;
    margin-left: -20px;
    left: 50%;
    margin-top: -10px;
    font-size: 50px;
    cursor: pointer;
}
.pgswitchhands-0-btn { top: 198px; }
.pgswitchhands-1-btn { top: 382px; }

.pg-handpoints {
    position: absolute;
    display: inline-block;
    font-size: 24px;
    font-weight: 100;
    margin-left: -6px;
    pointer-events: none;
    color: gray;
    left: 50%;
}
.pg-handpoints-3 { top:  61px; }
.pg-handpoints-2 { top: 244px; }
.pg-handpoints-1 { top: 426px; }

.pg-handpoints.pg-winner {
    font-weight: 700;
    color: Firebrick;
}

.pg-handpoints.pg-loser {
    color: LimeGreen;
}

.pg-deal-opponent {
    transition: opacity linear 2s;
}

.pg-deal-opponent {
    opacity: 1;
}

.pg-game-making-room .pg-deal-opponent,
.pg-game-setting-tiles .pg-deal-opponent,
.pg-game-just-dealt .pg-deal-opponent {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.pg-hidden-hand .pgswitchhands-btn,
.pg-deal-opponent .pgswitchhands-btn
 {
    display: none;
}

.pg-tile-manipulate-control {
    visibility: hidden;
}
.pg-deal-thinking .pg-tile-manipulate-control
{
    visibility: inherit;
}

@media (max-width: 560px) {
    .pgdeal {
        margin-left: 1px;
    }
}
