.pg-score {
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 3px;
  margin-left: 40px;
}

.pg-game-comparing-hands .pg-score,
.pg-game-ready-for-deal .pg-score {
  margin-left: 0;
  text-align: center;
}

@media (max-width: 560px) {
  .pg-score {
    font-size: 16px;
  }
}
