.nav > li > a.pg-new-game-menu-dropdown {
    display: none;
}

.pg-user-signed-in .nav > li > a.pg-new-game-menu-dropdown {
    display: inherit;
}

.navbar .dropdown-menu .pg-menu-item {
  margin: 0 10px;
  cursor: pointer;
}

.navbar .dropdown-menu .pg-menu-item-title {
  color: gray;
  pointer-events: none;
}

